.test-header {
  color: red;
  font-family: $common-text;
  @include flex(column wrap, center, flex-end);

}

nav {
  ol {
    float: right;
    list-style-type: none;
    @extend %clearfix;
    
    li {
      float: left;
      margin: 10px;
     @extend %clearfix;

      a {
        color: red;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}



